<template name="rulesPage">
    <div id="welcomePage" class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                Rules
            </div>
            <div class="padded">
                <ul class="plain">
                    <li>1.  Don't assume malice, when ignorance will suffice.</li>
                    <li>2.  Avoid absolutes like 'always', 'everybody', and 'never'.</li>
                    <li>3.  Avoid absolutes like 'always', 'everybody', and 'never'.</li>
                </ul>
            </div>
        </div>
    </div>
</template>