<template name="mapPage">
    <div id="mapPage" class="container">
        <div class="map panel {{ getPreferredProfileTheme }}">
            <div class="panel-heading">
                National Unemployment 2011
            </div>
            {{#constant}}
            <div id="choropleth">
                <div id="choroplethDescription" class="fullwidth centered">
                    Note:  This is not an image.  It's a database driven data visualization.  Each zipcode is tied to a database field, and this map is infinitely programmable.
                </div>

            </div>
            {{/constant}}
        </div>
        <div id="mapSearch" class="haptic panel {{ getPreferredProfileTheme }}">
            <div class="panel-heading">
                <input type="text" class="zipcode-search" placeholder="11201"></input>
            </div>
            lorem ipsum...
        </div>

    </div>
</template>

