<template name="rulesPage">
    <div id="rulesPage" class="container">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec fringilla mauris, ac adipiscing lectus. Maecenas non tortor nec arcu hendrerit pretium. In et nisi tincidunt, aliquam tellus a, mattis purus. Pellentesque elit lectus, facilisis at mattis vitae, euismod et nisi. Donec sagittis nec dolor id laoreet. Nam quis sapien tempus, tincidunt sapien eu, eleifend ipsum. Vivamus varius magna nec euismod dictum. Maecenas mauris elit, varius quis pharetra in, mollis non tortor.
    </div>
</template>