<template name="forumPage">
    <div id="forumPage" class="container">
        <div class="panel panel-success">
            <div class="panel-heading">
                Forum Posts
            </div>
            <ul class="list-group">
                {{#each posts}}
                    {{> postItem }}
                {{/each }}
            </ul>
            <div class="panel-footer">
                <a href="/post" class="btn btn-success">Create Post</a>
            </div>
        </div>
    </div>
</template>


<template name="postItem">
    <li class="list-group-item">
        <ul class="inline">
            <li class="downvote-btn label label-default">downvote</li>
            <li class="upvote-btn label label-default">upvote</li>
            <li class="edit-btn label label-default">edit</li>
            <li class="delete-btn label label-warning">delete</li>
            <li class="text">{{{text}}}</li>

        </ul>
    </li>
</template>



