<template name="topicsPage">
  <div id="topicsPage" class="container">

    {{#if showSearchPanel }}
    <div class="panel {{ getPreferredProfileTheme }}">
      <div class="panel-heading">
        Search Topics
      </div>
      <div class="haptic panel-footer">
        <input type="text" placeholder="search topics"></input>
        <input type="text" placeholder="tags"></input>
        <input type="text" placeholder="exclude topic" class="red"></input>
        <input type="text" placeholder="triggers" class="red"></input>
      </div>
    </div>
    {{/if}}

    <div class="panel {{ getPreferredProfileTheme }}">
      <div class="panel-heading">
        Topics
      </div>
      <ul class="list-group">
        {{#each topics}}
        {{> topicItem }}
        {{/each }}
      </ul>
      <div class="panel-footer">
        <div id="createTopicButton" class="btn {{ getPreferredButtonTheme }}">Create Topic</div>
      </div>
    </div>
  </div>
</template>

<template name="topicItem">
  <li class="list-group-item">
    <ul class="pull-left plain">
      <li>
        <i class="largish fa fa-pencil-square-o"></i> <span class="topic-name">{{ topic }}</span>
      </li>
    </ul>
    {{#if isAdmin }}
    <ul class="plain pull-right">
      <li><div class="btn btn-danger delete-topic-btn"><i class="fa fa-times-circle"></i></div></li>
    </ul>
    {{/if}}
  </li>
</template>

<!--<template name="addTopic">-->
  <!--{{#if addTopicIsVisible }}-->
    <!--<div class="panel {{ getPreferredProfileTheme }}">-->
      <!--<div class="panel-heading">-->
       <!--Add Topic-->
      <!--</div>-->
      <!--<input name="topicInput" id="topicInput" type="text" placeholder="topic...">-->
    <!--</div>-->
  <!--{{/if }}-->
<!--</template>-->
