//HEADER
.navbar-header{
  z-index: 1000;
  cursor: pointer;
}
.navbar-ex1-collapse{
  padding-top: 6px;
  margin-left: 126px;
  z-index: 100;
}

#login-dropdown-list {
  left: -120px;
}


// FOOTER
.navbar-fixed-bottom{
  border-top: 1px solid lightgray;
}

@media only screen and (max-width: 979px){
  .navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
  }
}



.navbar{
  .container{
    width: 1170px;
    .navbar-header{
      margin-left: 15px;
      z-index: 100 !important;
    }
    .navbar-collapse{
      z-index: 10;
    }
    .navbar-right{
      left: inherit;
      right: -10px;
      top: -4px;
    }
  }
}

#headerTitle{
  cursor:pointer;
}

